body{
  margin:0;
  background:#081a2d;
  font-family:Arial, sans-serif;
  color:white;
}

.title{
  text-align:center;
  margin:20px 0;
  color:#4fc3ff;
}

.projects{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
}

.project-card{
  background:#0f2b46;
  width:300px;
  padding:20px;
  border-radius:12px;
  text-align:center;
  box-shadow:0 0 15px #000;
}

.project-card img{
  width:100%;
  border-radius:8px;
}

.project-card h2{
  color:#4fc3ff;
}

button{
  background:#4fc3ff;
  color:#081a2d;
  border:none;
  padding:10px 15px;
  border-radius:6px;
  cursor:pointer;
  font-weight:bold;
}

.modal{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.8);
  align-items:center;
  justify-content:center;
}

.modal-content{
  background:#0f2b46;
  padding:20px;
  border-radius:10px;
  width:90%;
  max-width:600px;
}

.close{
  float:right;
  font-size:28px;
  cursor:pointer;
}

pre{
  background:#081a2d;
  padding:10px;
  border-radius:6px;
  overflow-x:auto;
.detail-img{
  width:100%;
  max-width:350px;
  display:block;
  margin:15px auto;
  border-radius:10px;
}
